<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="col-md-12" ng-include='"/view/product_tree.html"' style="padding: 0;"></div>
    </div>
    <div class="col-lg-9">
      <div class="row" id="empresas-container">
        <div class="col-md-6" ng-repeat='empresa in empresaList' style="margin-bottom: 12px; padding-right: 0;">
          <div class="card h-100" ng-click="selectEmpresa(empresa)">
            <table style="height: inherit;">
              <tr>
                <td width='150'>
                  <div style="height: 74px; border-radius: .25rem; background: url({{empresa.imagen}}) center no-repeat; background-size: cover;"></div>
                </td>
                <td>
                  <h6 class="mb-0">{{empresa.nombre}}</h6>
                  <p class="card-text mb-0">{{empresa.descrip_comida}}</p>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="row" ng-show="loading">
        <h1 style="margin: auto;"><i class="fa fa-cog fa-spin text-secondary"></i></h1>
      </div>
      <div class="row" ng-hide="loading">
        <div class="col-md-12" ng-include='"/view/pagination.html"'></div>
      </div>
    </div>
  </div>
</div>