<button class="btn btn-outline-primary" ng-click="showProductList()"><i class="fa fa-arrow-left"></i> Volver a la lista</button>



<div class="card mt-2">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <!-- <div style="height: 250px; background: url({{producto.imagen}}) center; background-size: cover;"></div> -->
        <div id="productoCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" style="height: 200px; background: url({{producto.imagen}}) center no-repeat; background-size: contain;"></div>
            <div class="carousel-item" style="height: 200px; background: url({{producto.imagen}}) center no-repeat; background-size: contain;"></div>
          </div>
          <a class="carousel-control-prev" onclick="$('#productoCarousel').carousel('prev')" role="button" data-slide="prev" style="background-color: #ccc;">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" onclick="$('#productoCarousel').carousel('next')" role="button" data-slide="next" style="background-color: #ccc;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        
        <h3 class="card-title">{{producto.descripcion}}</h3>
        <h4>{{producto.precio1 | currency:'$':0}}</h4>
        <p class="card-text my-0">{{producto.detalle}}</p>
        <p class="card-text my-0">{{producto.empresa.nombre}}</p>
        <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
        <button type="button" class="btn btn-success btn-lg btn-block" style="margin-top: 8px;" ng-click='preAddItemPedido()'>
          <i class="fa fa-shopping-cart"></i> Agregar al pedido
        </button>
      </div>

    </div>
    
  </div>

</div>
<!-- /.card -->
<br>
<p>Productos similares:</p>
<div class="row" ng-show='loadingRelated'>
  <i class="fa fa-cog fa-spin col-lg-12 h1"></i>
</div>
<div class="row" ng-hide="loadingRelated">
  <div class="col-md-3 producto-container-home mb-3" ng-repeat='rProducto in relatedProducts' ng-if='$index < 8'>
    <div class="card h-100">
      <button type="button" class="btn btn-link" ng-click='showRelatedProducto(rProducto)' style="padding: 0;">
        <div class="imagen-producto" style="border-radius: .25rem; height: 150px; background: url({{rProducto.imagen}}) center; background-size: cover;"></div>
      </button>
      <!-- <a href="#"><img class="card-img-top" src="{{producto.imagen}}" alt=""></a> -->
      <div class="card-body">
        <h4 class="card-title">
          <a href="" class="pl0" ng-click='showRelatedProducto(rProducto)' style="font-size: 0.7em;">
            {{rProducto.descripcion}}
          </a>
        </h4>
        <h5 class="pb-2">{{rProducto.precio1 | currency:'$':0}}</h5>
      </div>
    </div>
  </div>
</div>



<!-- /.card -->