<ul class="list-group" id='product-tree'>
  <li class="list-group-item pr-2">
    <form ng-submit='searchProducts()'>
      <label class="sr-only" for="inlineFormInputGroup">Username</label>
      <div class="input-group">
        <input type="text" ng-model="pagination.search" class="form-control" placeholder="Buscar">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" style="padding: 0 4px;"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </form>
  </li>
  <li class="list-group-item" ng-repeat="clase in productTree">
    <button class="btn btn-link" ng-class="{'active': clase.id == pagination.clase}" ng-click="treeFilter(clase.id)">
      <i class="{{clase.icono}}" style="vertical-align: initial;"></i> {{clase.nombre}}
    </button>
    <button class="btn btn-sm btn-default" onclick="$(this).find('span').toggle()" type="button" data-toggle="collapse" data-target="#ulclase{{clase.id}}">
      <span style="display: none;"><i class="fa fa-caret-down"></i></span>
      <span><i class="fa fa-caret-up"></i></span>
    </button> 
    <ul class="list-group collapse show" style="padding-top: 10px;" id="ulclase{{clase.id}}">
      <li class="list-group-item" ng-repeat="grupo in clase.grupos">
        <button class="btn btn-link" ng-class="{'active': grupo.id == pagination.grupo}" ng-click="treeFilter(clase.id, grupo.id)">
          <i class="{{grupo.icono}}" style="vertical-align: initial;"></i> {{grupo.nombre}}
        </button>
        <button class="btn btn-sm btn-default" onclick="$(this).find('span').toggle()" type="button" data-toggle="collapse" data-target="#ulgrupo{{grupo.id}}">
          <span style="display: none;"><i class="fa fa-caret-down"></i></span>
          <span><i class="fa fa-caret-up"></i></span>
        </button> 
        <ul class="list-group collapse show" style="padding-top: 10px;" id='ulgrupo{{grupo.id}}'>
          <li class="list-group-item" ng-repeat="empresa in grupo.empresas">
            <button class="btn btn-link" ng-class="{'active': empresa.id == pagination.empresa}" style="text-align: left" ng-click="treeFilter(clase.id, grupo.id, empresa.id)">{{empresa.nombre}}</button>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>